<!DOCTYPE html>
<html ng-app="listaTelefonica">
<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css"/>
<style>
  .jumbotron{
    width: 400px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .table{
    margin-top: 20px;
    text-align: left;
  }
  .form-control{
    margin-top: 10px;
    margin-bottom: : 10px;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .selecionado{
      background-color: yellow;
  }
  .negrito{
      font-weight: bold;
  }
</style>
  <head>

    <meta charset="utf-8">
    <title>Lista Telefonica</title>
    <script src="lib/angular/angular.js"></script>


    <script>
      angular.module("listaTelefonica", [])
      angular.module("listaTelefonica").controller("listaTelefonicaControlador", function ($scope){
        $scope.app = "Lista Telefonica";
        $scope.contatos = [
          {nome: "Pedro", telefone: "99998888", cor: "blue"},
          {nome: "Ana", telefone: "99997777", cor: "yellow"},
          {nome: "Maria", telefone: "99996666" , cor: "black"},
          {nome: "Lívio", telefone: "99995555", cor: "red"},
        ];

        // scope.cores = [
        //   {nome: "blue", codigo: 1, categoria: "Primaria"},
        //   {nome: "yellow", codigo: 2, categoria: "Primaria"},
        //   {nome: "black", codigo: 3, categoria: "Secundaria"},
        //   {nome: "red", codigo: 4, categoria: "Primaria"},
        // ];

        $scope.operadoras = [
          {nome: "Oi", codigo: 14, categoria: "Celular"},
          {nome: "TIM", codigo: 41, categoria: "Celular"},
          {nome: "Claro", codigo: 21, categoria: "Celular"},
          {nome: "Vivo", codigo: 15, categoria: "Celular"},
          {nome: "Convergia", codigo: 32, categoria: "Fixo"},
          {nome: "Intelig", codigo: 23, categoria: "Fixo"},
          {nome: "CTBC", codigo: 12, categoria: "Fixo"},
          {nome: "Sercomtel", codigo: 43, categoria: "Fixo"},
          {nome: "Aerotech", codigo: 17, categoria: "Celular"},
          {nome: "GVT", codigo: 25, categoria: "Fixo"}
        ];

        // $scope.adicionarContato = function () {
        //   $scope.contatos.push({nome: $scope.nome, telefone: $scope.telefone});
        // };

        $scope.adicionarContato = function (contato) {
          $scope.contatos.push(angular.copy(contato));
          delete $scope.contato;
        };

        $scope.apagarContato = function (contatos) {
          $scope.contatos = contatos.filter(function (contato){
            if (!contato.selecionado) return contato;
          });
        };

        $scope.isContatoSelecionado = function (contatos) {
          return contatos.some(function (contato) {
            return contato.selecionado;
          }
          );
        };

        // $scope.classe1="selecionado" ;
        // $scope.classe2="negrito" ;

      });
    </script>


  </head>

  <body ng-controller="listaTelefonicaControlador">
    <div class="jumbotron">
      <!-- <h3 ng-bind="app"></h3> -->
      <h3>{{app}}</h3>

      <!-- {{contatos}} -->

      <table ng-show="contatos.length> 0" class="table ">
        <tr>
            <th><input type="checkbox"/></th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Operdora</th>
            <th>Cor</th>

        </tr>
        <tr ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}" ng-repeat="contato in contatos">
          <!-- Forma1 -->
           <td><input type="checkbox" ng-model="contato.selecionado"/></td>
          <td>{{contato.nome}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora}}</td>
          <td><div style="width: 20px; height: 20px;" ng-style="{'background-color': contato.cor}"></div></td>

          <!-- Forma2 -->
          <!-- <td ng-repeat="(key,value) in contato">
          {{key + ' - ' + value}}
          </td> -->
        </tr>
      </table>
      <hr/>

      <button class="btn btn-danger" ng-click="apagarContato(contatos)" ng-show="isContatoSelecionado(contatos)">Remover Contato</button>

      <hr/>

      <!-- <h4>Novo Contato</h4> -->
      <button class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="!contato.nome || !contato.telefone">Adcionar Novo Contato</button>
      <!-- {{contato}} -->

      <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome"/>
      <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone"/>

      <select class="form-control" ng-model="contato.operadora" ng-options="operadora.codigo as operadora.nome group by operadora.categoria for operadora in operadoras">
        <option value="">Selecione uma operadora.</option>
      </select>

      <!-- <select class="form-control" ng-model="contato.cor" ng-options="cor.codigo as cor.nome group by cor.categoria for cor in cores">
        <option value="">Selecione uma cor.</option>
      </select> -->

    </div>
    <div ng-include="'includes/footer.html'"></div>
  </body>
</html>
