<!DOCTYPE html>
<html ng-app="listaTelefonica">
<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css"/>
<style>
  .jumbotron{
    width: 400px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .table{
    margin-top: 20px;
    text-align: left;
  }
  .form-control{
    margin-top: 10px;
    margin-bottom: : 10px;
  }

  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .selecionado{
      background-color: yellow;
  }
  .negrito{
      font-weight: bold;
  }
  hr{
      border-color: #999;
  }
</style>
  <head>

    <meta charset="utf-8">
    <title>Lista Telefonica</title>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-locale-pt-br/angular-locale_pt-br.js"></script>

    <script src="lib/angular-messages/angular-messages.js"></script>
    <script>
      angular.module("listaTelefonica", ["ngMessages"])
      angular.module("listaTelefonica").controller("listaTelefonicaControlador", function ($scope){
        $scope.app = "Lista Telefonica";

        $scope.contatos = [
          {nome: "Pedro", telefone: "9999-8888", data: new Date(), operadora: {nome: "Oi", codigo: 14, categoria: "Celular"}},
          {nome: "Ana", telefone: "9999-7777", data: new Date(), operadora: {nome: "TIM", codigo: 41, categoria: "Celular"}},
          {nome: "Maria", telefone: "9999-6666", data: new Date(), operadora: {nome: "Claro", codigo: 21, categoria: "Celular"}},
          {nome: "Lívio", telefone: "9999-5555", data: new Date(), operadora: {nome: "Vivo", codigo: 15, categoria: "Celular"}},
        ];

        $scope.operadoras = [
          {nome: "Oi", codigo: 14, categoria: "Celular", preco:4},
          {nome: "TIM", codigo: 41, categoria: "Celular", preco:3},
          {nome: "Claro", codigo: 21, categoria: "Celular", preco:2},
          {nome: "Vivo", codigo: 15, categoria: "Celular", preco:3},
          {nome: "Convergia", codigo: 32, categoria: "Fixo", preco:3},
          {nome: "Intelig", codigo: 23, categoria: "Fixo", preco:1},
          {nome: "CTBC", codigo: 12, categoria: "Fixo", preco:3},
          {nome: "Sercomtel", codigo: 43, categoria: "Fixo", preco:5},
          {nome: "Aerotech", codigo: 17, categoria: "Celular", preco:3},
          {nome: "GVT", codigo: 25, categoria: "Fixo", preco:1}
        ];

        $scope.adicionarContato = function (contato) {
          $scope.contatos.push(angular.copy(contato));
          delete $scope.contato;
          $scope.contatoForm.$setPristine();
        };

        $scope.apagarContato = function (contatos) {
          $scope.contatos = contatos.filter(function (contato){
            if (!contato.selecionado) return contato;
          });
        };

        $scope.isContatoSelecionado = function (contatos) {
          return contatos.some(function (contato) {
            return contato.selecionado;
          }
          );
        };
        $scope.ordenarPor = function (campo){
          $scope.criterioOrdenacao = campo;
          $scope.direcaoOrdenacao = !$scope.direcaoOrdenacao;
        };

      });
    </script>


  </head>

  <body ng-controller="listaTelefonicaControlador">
    <div class="jumbotron">
      <h3>{{app}}</h3>

      <input class="form-control" type="text" ng-model="pesquisa" placeholder="Pesquisa"/>

      <table ng-show="contatos.length> 0" class="table ">
        <tr>
            <th><input type="checkbox"/></th>
            <th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>
            <th>Operdora</th>
            <th>Data</th>

        </tr>
        <tr ng-class="{selecionado: contato.selecionado, negrito: contato.selecionado}" ng-repeat="contato in contatos | filter:pesquisa | orderBy:criterioOrdenacao:direcaoOrdenacao">
          <td><input type="checkbox" ng-model="contato.selecionado"/></td>
          <td>{{contato.nome | uppercase}}</td>
          <td>{{contato.telefone}}</td>
          <td>{{contato.operadora.nome | lowercase}}</td>
          <td>{{contato.data | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
      </table>
      <button class="btn btn-danger" ng-click="apagarContato(contatos)" ng-show="isContatoSelecionado(contatos)">Remover Contato</button>
      <hr/>

      <button class="btn btn-primary" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adcionar Novo Contato</button><br/>

      <form name="contatoForm">
        <input class="form-control" type="text" ng-model="contato.nome" name="inputName" placeholder="Nome" ng-required="true" ng-minlength="5"/>
        <input class="form-control" type="text" ng-model="contato.telefone" name="inputTelefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>

        <select class="form-control" ng-model="contato.operadora" name="inputOperadora" ng-options="operadora.nome+' ('+(operadora.preco | currency)+')' group by operadora.categoria for operadora in operadoras | orderBy:'nome'" ng-required="true">
          <option value="">Selecione uma operadora.</option>
        </select>

        {{contato}}

      </form>

      <!-- FORM ALERTS -->
      <!-- <div ng-messages="contatoForm.inputName.$error">
        <div ng-message="required"  class="alert alert-danger">
          Por favor, preencha o campo Nome!
        </div>
        <div ng-message="minlength"  class="alert alert-danger">
          O campo Nome deve ter no mínimo 5 caracteres.
        </div>
      </div>

      <div ng-messages="contatoForm.inputTelefone.$error">
        <div ng-message="required" class="alert alert-danger">
          Por favor, preencha o campo Telefone!
        </div>
        <div ng-message="pattern" class="alert alert-danger">
          Por favor, preencha o campo Telefone da seguinte forma: XXXX-XXXX.
        </div>
      </div>

      <div ng-messages="contatoForm.inputOperadora.$error">
        <div ng-message="required" class="alert alert-danger">
          Por favor, preencha o campo Operadora!
        </div>
      </div> -->

    </div>
    <div ng-include="'includes/footer.html'"></div>
  </body>
</html>
