<div class="jumbotron">
  <h3>Operadora</h3>
  <table class="table table-striped">
    <tr>
      <td>Nome</td>
      <td>{{operadora.nome}}</td>
    </tr>
    <tr>
      <td>Código</td>
      <td>{{operadora.codigo}}</td>
    </tr>
    <tr>
      <td>Categoria</td>
      <td>{{operadora.categoria}}</td>
    </tr>
    <tr>
      <td>Preço</td>
      <td>{{operadora.preco | currency}}</td>
    </tr>
  </table>

  <!-- <a class="btn btn-primary" href="#/contatos">Voltar</a> -->

  <!-- <button onclick="history.back()">Back</button> -->
  <a class="btn btn-primary" onclick="history.back()">Back</a>

</div>
